:root {
    --neon-red: #c80202; 
    --glass-red: rgba(255, 26, 26, 0.15);

    

}

body {
    background-color: #020202; 
    color: var(--neon-red);    
    font-family: 'JetBrains Mono', monospace;
    overflow-x: hidden;
}


::selection {
    background: var(--neon-red);
    color: #000;
    text-shadow: none;
}
.glow-text, h1, h2 {
    color: #ff3333;
    text-shadow: 
        0 0 5px #ff0000,
        0 0 10px #ff0000,
        0 0 20px #cc0000;
}


.border-glow {
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.6), inset 0 0 8px rgba(255, 0, 0, 0.2);
    border-color: #ff0000 !important;
}


.scanline-overlay {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 50;
    
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), 
                linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(255, 0, 0, 0.01), rgba(255, 0, 0, 0.03));
    background-size: 100% 3px, 6px 100%;
    opacity: 0.3;
}

.scan-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #ff0000; 

    opacity: 0.6;
    animation: scan 4s linear infinite;
}

@keyframes scan {
    0% { top: -10%; opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { top: 110%; opacity: 0; }
}


.custom-scrollbar::-webkit-scrollbar { width: 8px; }
.custom-scrollbar::-webkit-scrollbar-track { background: #000; border-left: 1px solid #330000; }
.custom-scrollbar::-webkit-scrollbar-thumb { 
    background: #ff0000; 
    box-shadow: 0 0 5px #ff0000;
}

.agent-row {
    border-bottom: 1px solid #330000; 
    color: #ff6666; 
    transition: 0.2s;
}

.agent-row:hover {
    background: rgba(255, 0, 0, 0.2);
    color: #fff;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.4);
    text-shadow: 0 0 8px #ff0000;
}


input {
    color: #ff3333 !important;
    border: 1px solid #660000 !important;
}
input:focus {
    border-color: #ff0000 !important;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.5) !important;
    background: #1a0000 !important;
}

button:hover {
    background-color: #ff0000 !important;
    color: #000 !important;
    box-shadow: 0 0 20px #ff0000 !important;
}

.title-white {
    color: #ffffff !important; 
    text-shadow: 
        0 0 5px rgba(255, 255, 255, 0.8), 
        0 0 0px rgba(255, 255, 255, 0.9),    
        0 0 0px rgba(255, 255, 255, 0.6);   
}