body {
    background-color: #0d1117;
    color: #58a6ff;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

}

h1 {
    font-size: 3rem;
    border-bottom: 2px solid #30363d;
    padding-bottom: 10px;
    text-shadow: 0 0 10px rgba(88, 166, 255, 0.5);
}

p {
    font-size: 1.2rem;
    color: #8b949e;
}

.button {
    background-color: transparent;
    color: #58a6ff;
    border: 2px solid #58a6ff;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.button:hover{

    background-color: #58a6ff;
    color: #0d1117;
    box-shadow: 0 0 15px #58a6ff;
    cursor: pointer;
}

.table-container {
    margin-top: 50px;       /* Mais espaço entre o botão voltar e a tabela */
    width: 90%;             /* Aumentei a largura total para caber o espaçamento extra */
    border: 1px solid #30363d;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #0d1117;
}

th, td {
    padding: 20px 25px;
    text-align: left;
    border-bottom: 1px solid #30363d;
}

th {
    background-color: #161b22;
    color: #58a6ff;
    text-transform: uppercase;
    font-size: 0.95rem;
    letter-spacing: 2px;
    font-weight: bold;
}

td {
    font-size: 1.1rem;
    color: #c9d1d9;
}

tr:hover {
    background-color: #1c2128;
    cursor: default;
}