/* Global case*/

body {
    background-color: #000000;
    color: red;
    font-family: 'Courier New', Courier, monospace;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    height: 100vh;
    margin: 0;
}

/* Texto padrão */
p {
    font-size: 1.2rem;
    color: red;
}

/* Botão padrão do sistema */
.button {
    background-color: transparent;
    color: red;
    border: 2px solid red;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.button:hover {
    background-color: red;
    color: #0d1117;
    box-shadow: 0 0 15px red;
    cursor: pointer;
}
