
/* Agents */
.agents-title {
    margin-left: 25px;
    font-size: 2.5rem;
    border-bottom: 2px solid #30363d;
    padding-bottom: 10px;
    text-shadow: 0 0 10px red;
}

/* Container da tabela */
.agents-table-container {
    margin-top: 40px;
    margin-left: 20px;
    width: 60%;
    border: 0.5px solid #30363d;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

/* Tabela */
.agents-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #0d1117;
}

.agents-table th,

.agents-table td {
    padding: 20px 25px;
    text-align: left;
    border-bottom: 0.5px solid #30363d;
}

.agents-table th {
    background-color: #161b22;
    color: red;
    text-transform: uppercase;
    font-size: 0.95rem;
    letter-spacing: 2px;
    font-weight: bold;
}

.agents-table td {
    font-size: 1.1rem;
    color: red;
}

.agents-table tr:hover {
    background-color: #1c2128;
    cursor: default;
}
