<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>C2 Zombie Keeper</title>

    <link href="/css/style.css" rel="stylesheet">

</head>
<body>
<h1> C2 CONTROL PANEL</h1>

<div class="table-container">
    <table>
        <thead>
        <tr>
            <th>Hostname</th>
            <th>OS</th>
            <th>IP Address</th>
            <th>Status</th>
            <th>Last ping</th>
        </tr>
        </thead>
        <tbody id="agents-body">
        </tbody>
    </table>
</div>

<script src="/js/main.js"></script>

</body>
</html>