<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>C2 Zombie Keeper</title>

    <link href="/css/style.css" rel="stylesheet">

</head>
<body>


<nav class="sidebar">

    <div class="nav-group">

        <div class="nav-item nav-toggle" data-target = "zombies-menu">
            ☠ ZOMBIES
            <span class="arrow">▸</span>
        </div>

        <div class="nav-submenu" id="zombies-menu" >
            <a href="/agents" class="nav-link">AGENTS</a>
        </div>


    </div>

</nav>



</body>
</html>