<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>C2 Zombie Keeper</title>

  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/home.css" rel="stylesheet">
</head>
<body>

<nav class="sidebar">
  <div class="nav-group">
    
    <div class="nav-item nav-toggle" data-target="zombies-menu">
      ☠ ZOMBIES
      <span class="arrow">▸</span>
    </div>
    <div class="nav-submenu" id="zombies-menu">
      <a href="/agents" class="nav-link">AGENTS</a>
    </div>

    <div class="nav-item nav-toggle" data-target="teste-menu">
      TESTE
      <span class="arrow">▸</span>
    </div>
    <div class="nav-submenu" id="teste-menu">
      <a href="" class="nav-link">TESTE</a>
    </div>


  </div>
</nav>

<script src="/js/ui/home/home.nav.ui.js"></script>
</body>
</html>
