<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="/css/style.css"  rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet" >
</head>
<body>
 
    <div class="containner-login "> 

        <div class="wrp-login">

           <img src="/imgs/login/logo-login.svg" class="login-logo">

           


            <form class="form-login" id="loginForm" action="/login" method="post">

                <div class=" username ">
                    <input class="input_username" type="text" name="username" placeholder=" " required>
                    <span class="focus_input" data-placeholder="username" ></span>
                </div>

                <div class="password">
                    <input class="input_password" type="password" name="password" placeholder=" " required>
                    <span class="focus_inp_password" data-placeholder= "Password" ></span>
                </div>
                
                <div class="container-login-form-btn">
                    <button type="submit" class="login-form-btn">
                    Login
                    </button>
                </div>

            </form>


        </div>

    </div>
    <script src="/js/api/login.api.js"></script>
</body>
</html>