<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container-register">
        
        <div class="wrp-register">
            <form class="form-register" id="registerForm">
            <div class="name">
                <input class="input_name" type="text" name="name">
                <span class="focus_input_name" data-placeholder="Name"></span>
            </div>

            <div class="username">
                <input class="input_username" type="text" name="username">
                <span class="focus_input_username" data-placeholder="Username"></span>
            </div>

            <div class="role">
                <input list="list_roles" id="role" onkeypress="return false;" autocomplete="off" name="role">
                <span class="focus_input_role"  data-placeholder="Roles"></span>
                <datalist id="list_roles">
                    <option value="ADMIN">
                    <option value="USER">
                </datalist>
            </div>

            <div class="password">
                <input class="input_password" type="password" name="password">
                <span class="focus_inp_password" data-placeholder= "Password" ></span>

            </div>
        
            <div class="repeetPassword">
                <input class="input_repeetPassword" type="password" name="repeetPassword">                
                <span class="focus_inp_repeetpassword" data-placeholder= "Repeet Password" ></span>
            </div>

            <div class="container-create-ac-form-btn">
                <button type="submit" class="register-form-bnt">
                    Create
                </button>
            </div>

        </form>

        </div>

    </div>
     <script src="/js/api/register.api.js"></script>
</body>
</html>